@model List<List<BarometerDomain.Model.Evaluation>>

<h3>@ViewBag.Beschrijving</h3>
<div id="tabs">
    <ul>
        @{
            int i = 0;
            foreach (string s in ViewBag.names)
            {
            <li><a href="#tabs-@i">@s</a></li>
                i++;
            }
        }

    </ul>
    @{
        i = 0;
        using (@Html.BeginForm("Evaluate", "Student", FormMethod.Post))
        {
            //Html.Hidden("projectIdFrom", (int)ViewBag.projectId);
            //Html.Hidden("projectPeriodIdFrom", (int)ViewBag.projectPeriodId);
            for (int k = 0; k < Model.Count; k++)
            {
        <div id="tabs-@i" class="tab">

            @if (ViewBag.Actie == "kijk")
            {
                <h1>Beoordeeling van @ViewBag.names[i]</h1>
            }
            else
            {
                <h1>Beoordeeling voor @ViewBag.names[i]</h1>
            }
            <div class="tabcontainer">
                <div class="competenties">
                    <h3>Competenties</h3>
                    @{
            for (int n = 0; n < Model[k].Count; n++)
            {
                        <div class="rating">
                            @Model[k][n].Skill.Category

                            @if (ViewBag.Actie == "kijk")
                            {
                                @Html.TextBoxFor(model => model[k][n].Grade, new { @readonly = "readonly" })
                            }
                            else
                            {
                           
                                @Html.HiddenFor(model => model[k][n].By.Id)
                                @Html.HiddenFor(model => model[k][n].For.Id)
                                @Html.HiddenFor(model => model[k][n].Id)
                                @Html.HiddenFor(model => model[k][n].Skill.Id)
                                @Html.EditorFor(model => model[k][n].Grade)
                            }
                        </div>
            }
                    }
                </div>
                
            </div>
@ViewBag.warning
        </div>
                    i++;
            }
            
                <div class="buttonbox_left">
                    @if (ViewBag.Actie == "kijk")
                    {
                        <input class="button" type="submit" name="Annuleren" value="Terug" />
                    }
                    else
                    {
                        <input class="button" type="submit" name="opslaan" value="Opslaan" />
                        <input class="button" type="submit" name="annuleren" value="Annuleren" />
                    }
                </div>
        }
      
    }
</div>

