<h1>@ViewBag.Title</h1>
<p>
    @Html.Raw(ViewBag.Description)
</p>
<h2>Mededelingen</h2>
@if (ViewBag.Project != null)
{

    <div>You Selected:  @ViewBag.Project</div>

}
<p>
    @{
        foreach (String s in ViewBag.Mededelingen)
        {
        @Html.Raw(s);
        <br />
        }
        
    }
</p>
<br />
@using (@Html.BeginForm("Beoordelen", "Student", FormMethod.Post))
{
    @Html.DropDownList("ProjectPeriod", (IEnumerable<SelectListItem>)ViewBag.ProjectPeriod ,  new { @class = "fancy_selectbox" })
    <br />
    @Html.Hidden("SelectedProject", (Object)ViewBag.Project)
    <input type="submit" name="beoordelen" value="Medestudent beoordelen" />
    <input type="submit" name="bekijken" value="Beoordelingen Bekijken" />
}

