<h1>@ViewBag.Title</h1>
<p>
    @Html.Raw(ViewBag.Description)
</p>
<h2>Mededelingen</h2>

<p>
    @{
        foreach (String s in ViewBag.Mededelingen)
        {
             <p>@s</p>    
        }
    }
</p>
<br />
@using (@Html.BeginForm("Beoordelen", "Student", FormMethod.Post))
{
    @Html.DropDownList("projectPeriodId", (IEnumerable<SelectListItem>)ViewBag.ProjectPeriod ,  new { @class = "fancy_selectbox" })
    <br />
    @Html.Hidden("projectId", (Object)ViewBag.Project)
    <input type="submit" name="beoordelen" value="Medestudent beoordelen" />
    <input type="submit" name="bekijken" value="Beoordelingen Bekijken" />
}

