@model BarometerDomain.Model.Project
@{ViewBag.Title = "Project beheren";}
<br/>

@using (@Html.BeginForm("ProjectOpslaan", "Docent", FormMethod.Post))
{
    <span>Projectnaam:&nbsp;</span>
    @Html.TextBoxFor(model => model.Name)

    <br/>
    
    <span>Omschrijving:</span>
    @Html.TextBoxFor(model => model.Description)

    <br/><br/>
    
    @Html.CheckBoxFor(model => model.Anonymous, "Anoniem")
    <span>Anoniem</span>
    
    <br/><br/>
    
    <span>Selecteer hieronder een project wanneer u competenties uit een ander project wilt gebruiken.</span>
    
    <br/><br/>
     
    <span>Voorgaand project:</span>
    
    <br/>
    
    @Html.DropDownList("Project", (IEnumerable<SelectListItem>)ViewBag.projecten, new { @class = "fancy_selectbox" })

    <br/><br/>
    
    <input type="submit" value="Competenties toevoegen" name ="competenties">
    <input type="submit" value="Beoordelingsmomenten toevoegen" name="beoordelingsmoment">
    <input type="submit" value="Groepen toewijzen aan project" name="toewijzen">
    <br/><br/>
    @Html.DropDownList("tutor", (IEnumerable<SelectListItem>)ViewBag.tutors, new { @class = "fancy_selectbox" })
    <input type="submit" value="Groepen toewijzen aan tutor" name="toewijzenTutor">
    <br/><br/>
    
    <input type="submit" value="Project opslaan" name="bevestigen">
}
