@model BarometerDomain.Model.Project

<br/>

@using (@Html.BeginForm("CompetentiesToevoegenAanProject", "Docent", FormMethod.Post))
{
    <span>Projectnaam:&nbsp;</span>
    @Html.TextBoxFor(model => model.Name)

    <br/>
    
    <span>Omschrijving:</span>
    @Html.TextBoxFor(model => model.Description)

    <br/><br/>
    
    @Html.CheckBoxFor(model => model.Anonymous, "Anoniem")
    <span>Anoniem</span>
    
    <br/><br/>
    
    <span>Selecteer hieronder een project wanneer u competenties uit een ander project wilt gebruiken.</span>
    
    <br/><br/>
     
    <span>Voorgaand project:</span>
    
    <br/>
    
    @Html.DropDownList("Project", (IEnumerable<SelectListItem>)ViewBag.projecten, new { @class = "fancy_selectbox" })

    <br/><br/>
    
    <input type="submit" value="Verder">
}

@*<br/>

@using (Html.BeginForm("ProjectGegevensOpslaan", "Project", FormMethod.Post))
{
    <span class="projectnaam">Voorgaand project:</span>
    @Html.DropDownList("Project", (IEnumerable<SelectListItem>)ViewBag.projecten,  new { @class = "fancy_selectbox" })

    <br/>
    
    <span class="projectnaam">Projectnaam:</span><br/>
    <input type="text" name="projectnaam"/>
}

<br/>

<div class="divLeft">

    <div class="divLeft2">

        <span>Competenties:</span>

        <br/>

        <select size="17" class="competentieListbox2">
            @foreach(string c in ViewBag.Competenties) {
                <option>@c</option>
            }
        </select>

    </div>

    <div class="divLeft2">

        <span>Competenties voorgaand project:</span>

        <br/>

        <select size="17" class="competentieListbox3">
            @foreach(string c in ViewBag.Competenties) {
                <option>@c</option>
            }
        </select>

        <br/>
        <br/>

        <button class="button competentieButton">Voeg competentie toe</button>

        <br/>
        <br/>
        <br/>

    </div>

    <br/>

    <div>

        @using (Html.BeginForm("CompetentieAanmaken", "Project", FormMethod.Post))
        {
            <input type="text" name="competentie" class="competentieTextbox" />
            <button class="button competentieButton">Voeg nieuwe competentie toe</button>
        }

        @using (Html.BeginForm("SubCompetentieAanmaken", "Project", FormMethod.Post))
        {
            <input type="text" name="competentie" class="competentieTextbox" />
            <button class="button competentieButton">Voeg nieuwe sub-competentie toe</button>
        } 

    </div>

</div>

<div class="divRight">

    <span>Informatie m.b.t. project:</span>

    <br/>

    <textarea class="projectInfobox2"></textarea>
     
    <br/>
    <br/>

    <button class="button float-right">Opslaan</button>

</div>

<ul id="sortablefirst">
    <li class="ui-state-default"><span class="ui-icon-arrowthick-2-n-s"></span>Item 1</li>
    <li class="ui-state-default"><span class="ui-icon-arrowthick-2-n-s"></span>Item 2</li>
    <li class="ui-state-default"><span class="ui-icon-arrowthick-2-n-s"></span>Item 3</li>
</ul>

<ul id="sortablesecond">
    <li class="ui-state-default"><span class="ui-icon-arrowthick-2-n-s"></span>Item 1</li>
    <li class="ui-state-default"><span class="ui-icon-arrowthick-2-n-s"></span>Item 2</li>
    <li class="ui-state-default"><span class="ui-icon-arrowthick-2-n-s"></span>Item 3</li>
</ul>*@
