@model List<List<BarometerDomain.Model.Evaluation>>

@ViewBag.Beschrijving
<div id="tabs">
    <ul>
        @{
            int i = 0;
            foreach (string s in ViewBag.names)
            {
            <li><a href="#tabs-@i">@s</a></li>
                i++;
            }
        }

    </ul>
    @{
        i = 0;
        for (int k = 0; k < Model.Count; k++)
        {
        <div id="tabs-@i" class="tab">
            @using (@Html.BeginForm("Evaluate", "Project", FormMethod.Post))
            {
                <h1>Beoordeel @ViewBag.names[i]</h1>
                <div class="tabcontainer">
                    <div class="competenties">
                        <h3>Competenties</h3>
                        @{
                                       
                for (int n = 0; n < Model[k].Count; n++)
                {
                    
                            <div class="rating">
                                @Model[k][n].Skill.Category
                                @Html.HiddenFor(model => model[k][n].By.Id)
                                @Html.HiddenFor(model => model[k][n].For.Id)
                                @Html.HiddenFor(model => model[k][n].Id)
                                @Html.HiddenFor(model => model[k][n].Skill.Id)
                                @Html.EditorFor(model => model[k][n].Grade)

                            </div>
                }
                        }
                    </div>
                    <div class="buttonbox">
                        <input class="button" type="submit" name="opslaan" value="Opslaan" />
                        <input class="button" type="submit" name="annuleren" value="Annuleren" />
                    </div>
                </div>
            }
        </div>
            i++;
        }
    }
</div>

